::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(21, 20, 20);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

.theme--dark.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

.v-toolbar__content,
.v-toolbar__extension {
  padding: 0px;
}

.v-data-table tbody tr:hover:not(.v-data-table__expanded__content) {
  background: transparent !important;
}
