:root {
  --navbar-height: 55px;
}

body {
  margin: 0px;
  background-color: rgb(18, 18, 18);
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0px;
}

.p-panelmenu-header {
  border-bottom: 1px solid #ffffff42;
}

.p-dialog-header {
  border-bottom: 1px solid #ffffff42 !important;
}

.p-menubar .p-submenu-list {
  z-index: 2;
}

.p-dialog-footer {
  border-top: 1px solid #ffffff42 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}