* {
  font-family: bender;
}

.p-inputtext {
  font-family: bender, "Source Sans Pro" !important;
}

:root {
  --navbar-height: 65px;
  --vue-logo-green: #41b883;
  --vue-logo-blue: #35495e;
  --color-dark: rgba(255, 255, 255, 0.6);
  --color-light: rgba(0, 0, 0, 0.12);
  --color-dark-gradient-3: rgb(18, 18, 18);
  --color-dark-gradient-2: #262626;
  --color-dark-gradient-1: #ffffff42;
  --tarkov-brown: #9a8866;
  --tarkov-grey: #aeaeb0;
  --color-dark-bg: #1e1e1c;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-gradient-3);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: calc(var(--navbar-height) * 1.5) 0px 20px 0px;
  background-color: var(--color-dark-gradient-3);
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0px;
}

.p-panelmenu-header {
  border-bottom: 1px solid var(--color-dark-gradient-1);
}

.p-dialog-header {
  border-bottom: 1px solid var(--color-dark-gradient-1) !important;
}

.p-menubar .p-submenu-list {
  z-index: 2;
}

.p-dialog-footer {
  border-top: 1px solid var(--color-dark-gradient-1) !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.shadow {
  box-shadow: 5px 5px 4px #888888 !important;
}

.p-tooltip {
  z-index: 999 !important;
}

.p-sidebar-left {
  width: 25rem;
}

.shadow {
  box-shadow: 12px 12px 4px #100f0f !important;
}

.navbar-shadow {
  box-shadow: 8px 8px 4px #100f0f !important;
}

.p-fieldset .p-fieldset-legend {
  border: 1px solid var(--tarkov-brown) !important;
  border-radius: 6px;
}

.p-fieldset {
  border: none !important;
  border-radius: 12px;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-button {
    display: none;
  }
  body {
    margin: 0px;
  }
}

.p-ripple.red .p-ink {
  background: rgba(197, 38, 38, 0.3);
}

.p-ripple.green .p-ink {
  background: rgba(66, 135, 51, 0.3);
}
