@import "variables"

@font-face
  font-family: "ProximaNovaBold"
  src: url("../fonts/proxima-nova-bold.eot")
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-bold.woff") format("woff"), url("../fonts/proxima-nova-bold.ttf") format("truetype"), url("../fonts/proxima-nova-bold.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNovaRegular"
  src: url("../fonts/proxima-nova-regular.eot")
  src: url("../fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.ttf") format("truetype"), url("../fonts/proxima-nova-regular.svg") format("svg")
  font-weight: normal
  font-style: normal

*
  font-family: 'ProximaNovaRegular'

.no-select
  user-select: none

.p-inputtext
  font-family: 'ProximaNovaRegular' !important

::-webkit-scrollbar
  width: 12px

::-webkit-scrollbar-track
  background: $color-dark-gradient-3

::-webkit-scrollbar-thumb
  background: #888

::-webkit-scrollbar-thumb:hover
  background: #555

.expand
  transition: all 0.2s ease-in-out
  &:hover
    transform: scale(0.97)

body
  margin: 0px

body:after,
body:before
  clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%)

body:after,
body:before
  display: block
  height: 650px
  position: absolute
  top: 0
  left: 0
  width: 100%

body:after
  content: ""
  background: #151211
  z-index: -1

.no-border
  border: none
  &-radius
    border-radius: 0px

.p-panelmenu-header
  border-bottom: 1px solid $color-dark-gradient-1

.p-dialog-header
  border-bottom: 1px solid $color-dark-gradient-1 !important

.p-menubar .p-submenu-list
  z-index: 2

.p-dialog-footer
  border-top: 1px solid $color-dark-gradient-1 !important
  padding-top: 15px !important
  padding-bottom: 15px !important

.p-tooltip
  z-index: 999 !important

.p-sidebar-left
  width: 25rem

.p-fieldset .p-fieldset-legend
  border: 1px solid $tarkov-brown !important
  border-radius: 6px

.p-fieldset
  border: none !important
  border-radius: 12px

@media screen and (max-width: 960px)
  .p-menubar .p-menubar-button
    display: none
  body
    margin: 0px

.p-ripple.red .p-ink
  background: rgba(197, 38, 38, 0.3)

.p-ripple.green .p-ink
  background: rgba(66, 135, 51, 0.3)

@keyframes up-and-down
  0%
    transform: translateY(0)
  100%
    transform: translateY(-4px)

.gradient-text
  background: linear-gradient(90deg, #ff8a00, #e52e71)
  text-shadow: none
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.p-sidebar-left
  width: 22rem

.p-panelmenu .p-panelmenu-header > a
  padding: 0.85em 1.25em

.p-panelmenu .p-panelmenu-content
  padding: 0
  font-size: 0.9em

.p-sidebar
  padding: 0 0.75em 0.75em 0.75em
