@import "variables"

@font-face
  font-family: "ProximaNovaBold"
  src: url("../fonts/proxima-nova-bold.eot")
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-bold.woff") format("woff"), url("../fonts/proxima-nova-bold.ttf") format("truetype"), url("../fonts/proxima-nova-bold.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNovaRegular"
  src: url("../fonts/proxima-nova-regular.eot")
  src: url("../fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.ttf") format("truetype"), url("../fonts/proxima-nova-regular.svg") format("svg")
  font-weight: normal
  font-style: normal

*
  font-family: 'ProximaNovaRegular'

.p-inputtext
  font-family: 'ProximaNovaRegular' !important

::-webkit-scrollbar
  width: 12px

::-webkit-scrollbar-track
  background: $color-dark-gradient-3

::-webkit-scrollbar-thumb
  background: #888

::-webkit-scrollbar-thumb:hover
  background: #555

.expand
  transition: all 0.2s ease-in-out
  &:hover
    transform: scale(0.97)

body
  margin: 0px
  background-color: $color-dark-gradient-3

.no-border
  border: none
  &-radius
    border-radius: 0px

.p-panelmenu-header
  border-bottom: 1px solid $color-dark-gradient-1

.p-dialog-header
  border-bottom: 1px solid $color-dark-gradient-1 !important

.p-menubar .p-submenu-list
  z-index: 2

.p-dialog-footer
  border-top: 1px solid $color-dark-gradient-1 !important
  padding-top: 15px !important
  padding-bottom: 15px !important

.shadow
  box-shadow: 5px 5px 4px #888888 !important

.p-tooltip
  z-index: 999 !important

.p-sidebar-left
  width: 25rem

.shadow
  box-shadow: 12px 12px 4px #100f0f !important

.navbar-shadow
  box-shadow: 8px 8px 4px #100f0f !important

.p-fieldset .p-fieldset-legend
  border: 1px solid $tarkov-brown !important
  border-radius: 6px

.p-fieldset
  border: none !important
  border-radius: 12px

@media screen and (max-width: 960px)
  .p-menubar .p-menubar-button
    display: none
  body
    margin: 0px

.p-ripple.red .p-ink
  background: rgba(197, 38, 38, 0.3)

.p-ripple.green .p-ink
  background: rgba(66, 135, 51, 0.3)

@keyframes up-and-down
  0%
    transform: translateY(0)
  100%
    transform: translateY(-4px)

.gradient-text
  background: linear-gradient(90deg, #ff8a00, #e52e71)
  text-shadow: none
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.p-sidebar-left
  width: 22rem

.p-panelmenu .p-panelmenu-header > a
  padding: 0.85em 1.25em

.p-panelmenu .p-panelmenu-content
  padding: 0
  font-size: 0.9em

.p-sidebar
  padding: 0 0.75em 0.75em 0.75em
