.q-item__section--avatar {
  align-items: center;
}

.rounded-sm {
  border-radius: 8px;
}

.rounded {
  border-radius: 10px;
}

.rounded-md {
  border-radius: 12px;
}

.rounded-tr {
  border-top-right-radius: 10px;
}

.rounded-tl {
  border-top-left-radius: 10px;
}

.rounded-t {
  @extend .rounded-tr;
  @extend .rounded-tl;
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rounded-b {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-tr-md {
  border-top-right-radius: 12px;
}

.rounded-tl-md {
  border-top-left-radius: 12px;
}

.rounded-t-md {
  @extend .rounded-tr-md;
  @extend .rounded-tl-md;
}

.rounded-bl-md {
  border-bottom-left-radius: 12px;
}

.rounded-br-md {
  border-bottom-right-radius: 12px;
}

.rounded-b-md {
  @extend .rounded-br-md;
  @extend .rounded-bl-md;
}

.p-rel {
  position: relative;
}

.bg-dark-1 {
  background-color: #111010;
}

.bg-dark-red {
  background-color: #ca4133;
}

.text-dark-red {
  color: #ca4133;
}

body.body--dark {
  background-color: #111010;
}
