.q-item__section--avatar {
  align-items: center;
}

.rounded-sm {
  border-radius: 8px;
}

.rounded {
  border-radius: 10px;
}

.rounded-md {
  border-radius: 12px;
}

.rounded-tr {
  border-top-right-radius: 10px;
}

.rounded-tl {
  border-top-left-radius: 10px;
}

.rounded-t {
  @extend .rounded-tr;
  @extend .rounded-tl;
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rounded-b {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-tr-md {
  border-top-right-radius: 12px;
}

.rounded-tl-md {
  border-top-left-radius: 12px;
}

.rounded-t-md {
  @extend .rounded-tr-md;
  @extend .rounded-tl-md;
}

.rounded-bl-md {
  border-bottom-left-radius: 12px;
}

.rounded-br-md {
  border-bottom-right-radius: 12px;
}

.rounded-b-md {
  @extend .rounded-br-md;
  @extend .rounded-bl-md;
}

.p-rel {
  position: relative;
}

.bg-dark-1 {
  background-color: #111010;
}

.bg-dark-red {
  background-color: #ca4133;
}

.text-dark-red {
  color: #ca4133;
}

body.body--dark {
  background-color: #111010;
}

.draggable-item {
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  background-color: #fff;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: default;
  user-select: none;
}

.simple-page {
  max-width: 500px;
  margin: 50px auto;
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(2deg);
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}

.drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}
