$primary : var(--primary);
$secondary : var(--secondary);
$accent : var(--accent);

$dark : var(--dark);

$positive : var(--positive);
$negative : var(--negative);
$info : var(--info);
$warning : var(--warning);